<a href="https://colab.research.google.com/github/PriankaKibria17/Priankas_Coding/blob/main/Copy_of_Distance_and_time_Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Starter Code

# Exploring NumPy Arrays: Distance and Time

1) Import the numpy library

In [1]:
import numpy as np

2) Create a numpy array called "distance" that includes the following distances (in meters): 100, 200, 400, 800, 1500, 3000, 5000, 10000

In [2]:
# creating a list with distances 
distance = [100,200,400,800,1500,3000,5000,10000]
type(distance)

list

In [3]:
# converting my distance list into a numpy array
distance_array = np.array(distance)
type(distance_array)

numpy.ndarray

3) Use the np.min() and np.max() functions to find the minimum and maximum distances

In [4]:
minimum = np.min(distance_array)
maximum = np.max(distance_array)
print('minimum is:', minimum)
print('maximum is:', maximum)

minimum is: 100
maximum is: 10000

4) To find the average distance, use the np.mean() function

In [5]:
average_distance = np.mean(distance_array)
print('The average distance is', average_distance)

The average distance is 2625.0

5) use the np.sum() function to find the total distance

In [6]:
total_distance = np.sum(distance_array)
print('The total distance is', total_distance)

The total distance is 21000

6) Another valuable function is the np.cumsum() function which outputs the cumulative sum...notice the output will be 100, 300, 700 as it adds each new distance

In [7]:
cumalative_sum = np.cumsum(distance_array)
print('The cumalative sum is:', cumalative_sum)

The cumalative sum is: [  100   300   700  1500  3000  6000 11000 21000]

7) To round all of the values in an array, use np.round()

In [8]:
rounded_distance = np.round(distance_array)
print('The rounded values are:',rounded_distance)

The rounded values are: [  100   200   400   800  1500  3000  5000 10000]

8) Create a numpy array called time that includes the following times (in seconds):  10.62, 21.34, 48.25, 113.43, 233.96, 506.53, 866.17, 1757.45

In [9]:
time = np.array([10.62, 21.34, 48.25, 113.43, 233.96, 506.53, 866.17, 1757.45])

9) the values in your time array correspond to olympic records for running the corresponding distances.  Perform the calculation needed to find the speed (in m/s) for each record distance.  Note that speed is distance divided by time.

In [110]:
speed_in_m_s = np.divide(distance_array,time)
print('The speed for each record distance is:', speed_in_m_s)

The speed for each record distance is: [9.41619586 9.37207123 8.29015544 7.0528079  6.41135237 5.92265019
 5.77253888 5.69006231]

10) One common problem data scientists run into is that we are given information in units that are not consistent.  
For example, we might want to compare data that is given in meters to second to data that is given in miles per hour. A cheetah is the fastest land animal which can reach speeds of 75.0 miles per hour.  
In order to compare our olympians to a cheetah, we need to be able to convert from one unit to another.
Perform calculations to convert the olympic record speeds from meters/second into miles per hour.  Note: 1 meter = 0.00062 miles

How do our olympians compare to the cheetah?

(Hint: Speed in m/s multiplied by 0.00062 and multiplied by 3600 will give speed in miles per hour)

In [111]:
speed_in_m_s * 0.00062 * 3600

array([21.01694915, 20.91846298, 18.50362694, 15.74186723, 14.31013849,
       13.21935522, 12.88430678, 12.70021907])

In [115]:
import pandas as pd
filename = '/content/Olympians vs. cheetah.csv'

In [116]:
olympianvscheetah = pd.read_csv(filename)
olympianvscheetah.head()

   Olympian speed  Cheetah Speed
0       21.016949             75
1       20.918463             75
2       18.503627             75
3       15.741867             75
4       14.310138             75

In [129]:
data = pd.read_csv("Olympians vs. cheetah.csv")
#Comparing if the olympian speed is equal to cheetah speed
Equal = data["Olympian speed"] == "Cheetah Speed"
#comparing whether the olympian speed is not equal to cheetah speed
Notequal = data["Olympian speed"] != "Cheetah Speed"
# comparing if olympian speed is greater than cheetah
greaterthan = speed_in_m_s > 75 
# comparing if the olympian speed is less than cheeta
lessthan = speed_in_m_s < 75
data["Equal"] = Equal
data["Notequal"] = Notequal
data["greaterthan"] = greaterthan
data["lessthan"] = lessthan
data

   Olympian speed  Cheetah Speed  Equal  Notequal  greaterthan  lessthan
0       21.016949             75  False      True        False      True
1       20.918463             75  False      True        False      True
2       18.503627             75  False      True        False      True
3       15.741867             75  False      True        False      True
4       14.310138             75  False      True        False      True
5       13.219355             75  False      True        False      True
6       12.884307             75  False      True        False      True
7       12.700219             75  False      True        False      True