<a href="https://colab.research.google.com/github/PriankaKibria17/Priankas_Coding/blob/main/Prianka_Loading_%26_Filterting_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Loading & Filtering Data
Prianka Kibria

3/1/22

In [ ]:
# Mounting data
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# importing pandas 
import pandas as pd

In [ ]:
# loading data set
filename = '/content/drive/MyDrive/data/RailsToTrails_National Count Data_week.xlsx'
bike_df = pd.read_excel('//content/drive/MyDrive/data/RailsToTrails_National CountData_week.xlsx')

In [ ]:
bike_df.head()

  Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0    Week 1 2020-12-30  ...         NaN         NaN
1    Week 2 2020-01-06  ...         NaN         NaN
2    Week 3 2020-01-13  ...         NaN         NaN
3    Week 4 2020-01-20  ...         NaN         NaN
4    Week 5 2020-01-27  ...         NaN         NaN

[5 rows x 10 columns]

In [ ]:
# selecting data after July 31, 2020
weekof_filter = bike_df['Week of'] > '2020-07-31'

In [ ]:
bike_df[weekof_filter].head()

   Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
0     Week 1 2020-12-30  ...         NaN         NaN
31   Week 32 2020-08-03  ...         NaN         NaN
32   Week 33 2020-08-10  ...         NaN         NaN
33   Week 34 2020-08-17  ...         NaN         NaN
34   Week 35 2020-08-24  ...         NaN         NaN

[5 rows x 10 columns]

In [ ]:
# selecting data where the change 2019-2020 is greater than 100% (greater than 1)
change_filter = bike_df['Change 2019-2020'] > 1

In [ ]:
bike_df[change_filter].head()

   Timeframe    Week of  ...  Unnamed: 8  Unnamed: 9
7     Week 8 2020-02-17  ...         NaN         NaN
11   Week 12 2020-03-16  ...         NaN         NaN
12   Week 13 2020-03-23  ...         NaN         NaN
13   Week 14 2020-03-30  ...         NaN         NaN
14   Week 15 2020-04-06  ...         NaN         NaN

[5 rows x 10 columns]

In [ ]:
#Putting together/combining
#  Answer to question 3: No. There is nothing that is both after 7/31 and has a change >1
bike_df = bike_df.loc[weekof_filter & change_filter, :]
bike_df

Empty DataFrame
Columns: [Timeframe, Week of,  2019 counts (31 counters),  2020 counts (31 counters), 2021 Counts, Change 2019-2020, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9]
Index: []